.img-like-icon {
    height: 1em;
    width: 1em;
}
.calender-item-modal {
  .MuiPaper-root {
    width: 60%;
    max-width: none;
  }

  .MuiDialogTitle-root {
    background-color: #ccddff;
    padding: 8px 12px;
    margin-bottom: 0.75em;

    .calender-item-modal-title {
      display: flex;
      justify-content: space-between;

      > div {
        display: flex;
        align-items: center;

        &.icon-box > svg {
          cursor: pointer;
          height: 1.5em;
          width: 1.5em;
        }
      }
    }
  }

  .calender-item-modal-content {
    padding: .75em 1.5em;
    display: grid;
    grid:
    "inputList inputList inputList mapChart mapChart mapChart mapChart" 1fr
    "inputList inputList inputList mapChart mapChart mapChart mapChart" 1fr
    "inputList inputList inputList mapChart mapChart mapChart mapChart" 1fr
    "freeText freeText freeText freeText freeText freeText pdfIconBox" 1fr
    "freeText freeText freeText freeText freeText freeText pdfIconBox" 1fr
    / 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 8px;

    .inputList {
      grid-area: inputList;
      .accounts {
        display: flex;
        > *:not(:last-child){
          margin-right: 1em;
        }
      }

      .input-list-item {
        display: flex;
        align-items: baseline;
        border-bottom: solid 1px #b6b6b6;
        &:not(:last-child){
          margin-bottom: 5px;
        }
        img {
          margin-right: 0.25em;
        }
      }
    }

    .mapChart {
      grid-area: mapChart;
      > div {
        width: 100%;
        height: 100%;
      }
    }

    .freeText {
      grid-area: freeText;
      white-space: pre-wrap;
    }
    .pdfIconBox {
      grid-area: pdfIconBox;
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        height: 3em;
        width: 3em;
        cursor: pointer;
      }
    }

  }

  .calender-item-modal-footer {
    padding: 0 1.5em 0.75em 1.5em;
    display: flex;
    justify-content: space-between;
    > div {
      display: flex;
      font-size: 1.5em;
      > *:not(:last-child) {
        margin-right: 0.5em;
      }
      img {
        cursor: pointer;
      }
    }
  }
}

